<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left="">
      <button ion-button="" icon-only="" menuToggle="">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      UMnify
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-row *ngFor="let key of this.cacheIndex; let i = index;">
        <ng-container *ngIf="i % 2 == 0">
          <ion-col class="blog-tile" (click)="viewBlog(key)">
            <img src="{{this.imageFolder}}/preview/{{this.cache.get(this.cacheIndex[i]).imageFile}}">
            <div>
              {{this.cache.get(this.cacheIndex[i]).heading}}
            </div>
          </ion-col>
          <!-- if key !null -->
          <ion-col *ngIf="this.cacheIndex[i + 1]; else elseBlock" class="blog-tile" (click)="viewBlog(key)">
            <img src="{{this.imageFolder}}/preview/{{this.cache.get(this.cacheIndex[i + 1])?.imageFile}}">
            <div>
              {{this.cache.get(this.cacheIndex[i + 1]).heading}}
            </div>
          </ion-col>
          <!-- else -->
          <ng-template #elseBlock>
            <ion-col >
              <img>
              <div>
              </div>
            </ion-col>
          </ng-template>
        </ng-container>
      </ion-row>
    </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
